body {
  border: 1px solid #000;
  overflow: hidden;

  padding: 0;
  margin: 0;
}

.troll {
  width: 4%;
  height: 10%;

  position: absolute;
}

#arme {
  height: 500px;
  width: 500px;

  transition: 0.2s ease;

  position: absolute;
}

.balle {
  height: 165px;
  width: 418px;

  scale: 0.3;

  position: absolute;
}
