html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  overflow: hidden;

  padding: 0;
  margin: 0;
}

.troll {
  width: 4%;
  height: 10%;

  position: absolute;
}

#arme {
  transition: 0.2s ease;
  position: absolute;
}

.balle {
  height: 165px;
  width: 418px;

  scale: 0.3;

  position: absolute;
}

#arme > .balle {
  position: relative;
  scale: 0.3;
  height: 165px;
  width: 418px;

  left: 200px;
  top: -130px;
}
